<div class="center hero-unit">
	<% provide(:title, 'Watsup') %>
	<h1>Welcome to Watsup</h1>
	<h2>
		Lorem ipsum
	</h2>
	<%= link_to "Sign up now!", signup_path, classs: "btn btn-large btn-primary" %>
</div>

